appdirs==1.4.4
asgiref==3.8.1
cfgv==3.4.0
distlib==0.3.8
Django==5.1
django-debug-toolbar==4.4.6
django-resized==1.0.2
filelock==3.15.4
identify==2.6.0
nodeenv==1.9.1
pillow==10.4.0
platformdirs==4.2.2
pre-commit==3.8.0
psycopg2-binary==2.9.9
PyYAML==6.0.2
six==1.16.0
sqlparse==0.5.1
virtualenv==20.26.3
